// Product name
$product-tile-name-line-height: 1.5;
$product-tile-name-font-weight: normal;
$product-tile-name-font-family: $font-primary-medium;
$product-tile-name-color-visited: inherit;
// Product description
$product-tile-description-line-height: 1.5;
// Product add to bag
$product-tile-add-bag-text-font: #{rem-calc(12)} / #{rem-calc(18)}
  $font-primary-medium;
$product-tile-add-bag-text-font--large: #{rem-calc(14)} / #{rem-calc(21)}
  $font-primary-medium;
$product-tile-add-bag-text-transform: none;
// Product actions
$product-tile-actions-margin: rem-calc(8 0 0);
// Product badge
$product-tile-badge-font: #{rem-calc(11)} $font-primary-medium;
$product-tile-badge-max-width: 30%;
@use "@lora/05-components/product/product-tile";
