// Product badge title
$product-badge-title-background: none;
$product-badge-title-shadow: none;
$product-badge-title-text-decoration: none;
$product-badge-margin: 0;
$product-badge-title-font: #{rem-calc(11)} $font-primary-medium;
$product-badge-title-padding: 0;
$product-badge-title-margin: rem-calc(0 0 12 0);
$product-badge-title-color: color(bronze-450);
// Product badge category title
$product-badge-category-title-padding: rem-calc(6 0);
$product-badge-category-title-font: #{rem-calc(14)} / 1.5 $font-primary-medium;
$product-badge-category-title-text-transform: none;
$product-badge-category-title-box-shadow: none;
@use "@lora/05-components/product/product-badge";
