/* Error: $description: Unknown color space "light".
 *   ,
 * 8 | $body-background: color(light) !default;
 *   |                   ^^^^^^^^^^^^
 *   '
 *   on\ecom-lora-ng\cartridges\ui_lora\cartridge\static\default\sass\03-base\_body.scss 8:19  @use
 *   on\ecom-lora-ng\cartridges\ui_lora\cartridge\static\default\sass\03-base\main.scss 6:1    root stylesheet */
body::before {
  font-family:
    "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
    "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: $description: Unknown color space "light".\a   \2577 \a 8 \2502  $body-background: color(light) !default;\a   \2502                    ^^^^^^^^^^^^\a   \2575 \a   on\\ecom-lora-ng\\cartridges\\ui_lora\\cartridge\\static\\default\\sass\\03-base\\_body.scss 8:19  @use\a   on\\ecom-lora-ng\\cartridges\\ui_lora\\cartridge\\static\\default\\sass\\03-base\\main.scss 6:1    root stylesheet';
}
