$footer-social-title-font--large: #{rem-calc(14)} / 1.5 $font-primary-medium;
$footer-social-link-padding: rem-calc(12);
$footer-social-link-padding--large: rem-calc(0 12);
$footer-social-list-justify-content: flex-start;
$footer-social-list-justify-content--large: flex-start;
$footer-social-list: (
  instagram: (
    enabled: true,
    icon: instagram,
    icon-height: rem-calc(24),
    icon-width: rem-calc(24),
  ),
  linkedin: (
    enabled: true,
    icon: linkedin,
    icon-height: rem-calc(24),
    icon-width: rem-calc(24),
  ),
  pinterest: (
    enabled: true,
    icon: pinterest,
    icon-height: rem-calc(24),
    icon-width: rem-calc(24),
  ),
  facebook: (
    enabled: true,
    icon: facebook,
    icon-height: rem-calc(24),
    icon-width: rem-calc(24),
  ),
  x: (
    enabled: true,
    icon: x,
    icon-height: rem-calc(24),
    icon-width: rem-calc(24),
  ),
);
@use "@lora/05-components/footer/footer-social";
