$form-check-field-checkbox-checked-control-background: color(light);
$form-check-field-checkbox-checked-icon: check;
$form-check-field-checkbox-checked-icon-width: rem-calc(16);
$form-check-field-radio-control-after-size: rem-calc(16);
$form-check-field-label-side-margin: rem-calc(8);
/// Checked Radio Hover, Focus, Active states
$form-check-field-radio-checked-control-hover-box-shadow: none;
$form-check-field-radio-checked-control-focus-box-shadow: none;
$form-check-field-radio-checked-control-active-box-shadow: none;
/// Unchecked Radio Hover, Focus, Active states
$form-check-field-radio-control-hover-box-shadow: none;
$form-check-field-radio-control-focus-box-shadow: none;
$form-check-field-radio-control-active-box-shadow: none;
/// Checked Hover, Focus, Active states
$form-check-field-checkbox-checked-control-hover-box-shadow: none;
$form-check-field-checkbox-checked-control-focus-box-shadow: none;
$form-check-field-checkbox-checked-control-active-box-shadow: none;
/// Unchecked Hover, Focus, Active states
$form-check-field-checkbox-control-hover-box-shadow: none;
$form-check-field-checkbox-control-focus-box-shadow: none;
$form-check-field-checkbox-control-active-box-shadow: none;
// Disabled state
$form-check-field-disabled-control-background: color(disabled);
/// Switch after
$form-check-field-switch-after-width: rem-calc(16);
$form-check-field-switch-after-height: rem-calc(16);
$form-check-field-switch-after-position--top: rem-calc(3);
$form-check-field-switch-after-background: color(light);
/// Switch before
$form-check-field-switch-before-background: color(black-700);
$form-check-field-switch-before-border-radius: rem-calc(30);
$form-check-field-switch-before-width: rem-calc(32);
$form-check-field-switch-before-height: rem-calc(12);
$form-check-field-switch-before-margin: rem-calc(5 0);
// Checkboxes
$form-check-field-checkbox-control-border: 1px solid color(text-secondary);
/// Unchecked Hover, Focus, Active states
$form-check-field-switch-after-hover-box-shadow: none;
$form-check-field-switch-after-focus-box-shadow: none;
$form-check-field-switch-after-active-box-shadow: none;
// Checked state
$form-check-field-switch-checked-before-background: color(black-700);
$form-check-field-switch-checked-after-background: color(primary);
/// Checked Hover, Focus, Active states
$form-check-field-switch-checked-after-hover-box-shadow: none;
$form-check-field-switch-checked-after-focus-box-shadow: none;
$form-check-field-switch-checked-after-active-box-shadow: none;
// label image
$form-check-field-image-label-padding: rem-calc(16 16 16 40);
$form-check-field-image-checked-label-border: 1px solid color(primary-active);
$form-check-field-image-label-before-gutter: rem-calc(16);
// Radiobuttons
$form-check-field-radio-checked-control-second-border-width: 0;
//Checked state for tick icon
$form-check-field-checkbox-checked-tick-icon-color: color(primary);
@use "@lora/05-components/form/check-field";
