$footer-top-background: color(organism-background);
$footer-top-background--large: $footer-top-background;
$footer-bottom-border-top: none;
$footer-bottom-border-top--large: $footer-bottom-border-top;
$footer-middle-inner-border-bottom: 1px solid color(light);
$footer-middle-inner-border-bottom--large: $footer-middle-inner-border-bottom;
$footer-newsletter-signup-title-font--large: #{rem-calc(14)} / 1.5
  $font-primary-medium;
$footer-social-margin--large: rem-calc(0 0 32);
$footer-localeselector-margin: rem-calc(0 0 24);
$footer-newsletter-captcha-link-hover-color: color(light);
$footer-newsletter-link-hover-color: color(light);
$footer-padding: rem-calc(0 0 24);
@use "@lora/04-layout/footer";
