$add-to-wishlist-box-shadow: none;
$add-to-wishlist-background: none;
$add-to-wishlist-icon-color: color(primary-active);
$add-to-wishlist-padding: rem-calc(8);
$add-to-wishlist-icon-size: rem-calc(16);
@use "@lora/05-components/add-to-wishlist";
