/// Info alert
/// @type Map
$alert-info: (
  background: color(alabaster-400),
  border: 0,
  color: color(info),
  icon: "info",
  icon-color: color(dark),
);
$alert-success: (
  background: color(alabaster-400),
  border: 0,
  color: color(dark),
  icon: "success",
  icon-color: color(dark),
);
$alert-warning: (
  background: color(yellow-50),
  border: 0,
  color: color(dark),
  icon: "alert",
  icon-color: color(warning),
);
$alert-error: (
  background: color(yellow-50),
  border: 0,
  color: color(dark),
  icon: "error",
  icon-color: color(dark),
);
$alert-color: color(dark);
$alert-font: #{rem-calc(14)} / #{rem-calc(21)} $font-primary;
$alert-padding: rem-calc(11 10 11 14);
$alert-padding--large: rem-calc(16);
$alert-box-shadow: 0;
$alert-icon-size: rem-calc(16);
@use "@lora/05-components/alert";
