$button-font-size: rem-calc(14);
$button-line-height: rem-calc(21);
$button-font-family: $font-primary-medium;
$button-text-transform: none;
$button-background: color(dark);
$button-hover-background: color(organism-background);
$button-color: color(light);
$button-padding: rem-calc(13 24 12);
$button-alt-background: color(dark);
$button-alt-color: color(light);
$button-alt-border: 1px solid color(light);
$button-alt-hover-background: color(organism-background);
$button-alt-hover-border: 1px solid color(light);
$button-alt-hover-color: color(light);
$button-min-width: rem-calc(300);
//Secondary readmore button with light arrow on the right
$button-readmore-light-icon: arrow-right;
$button-readmore-light-icon-color: color(light);
$button-readmore-light-icon-hover: color(dark);
$button-readmore-light-icon-size: rem-calc(16);
$button-readmore-light-icon-margin: rem-calc(16);
$button-readmore-light-background: transparent;
$button-readmore-light-background-hover: color(light);
$button-readmore-light-border: 1px solid color(light);
$button-readmore-light-border-hover: $button-readmore-light-border;
$button-readmore-light-color: color(light);
$button-readmore-light-color-hover: color(dark);
//Secondary readmore button with dark arrow on the right
$button-readmore-dark-icon: arrow-right;
$button-readmore-dark-icon-color: color(dark);
$button-readmore-dark-icon-hover: color(light);
$button-readmore-dark-icon-size: rem-calc(16);
$button-readmore-dark-icon-margin: rem-calc(16);
$button-readmore-dark-background: transparent;
$button-readmore-dark-background-hover: color(dark);
$button-readmore-dark-border: 1px solid color(border);
$button-readmore-dark-border-hover: $button-readmore-dark-border;
$button-readmore-dark-color: color(dark);
$button-readmore-dark-color-hover: color(light);
$button-social-icon-text-transform: none;
$button-icon-size: rem-calc(24);
// Button with price below the text
$button-row-2-text-font: #{rem-calc(12)} / #{rem-calc(18)} $font-primary-medium;
$button-row-2-text-font--large: #{rem-calc(14)} / #{rem-calc(21)}
  $font-primary-medium;
// Search button
$button-search-height: rem-calc(40);
// Print button
$button-print-icon-size: rem-calc(16);
// Icon only button
$button-icon-only-height: rem-calc(40);
// Button link
$button-padding-link: rem-calc(13 10 12);
/// Sizes for buttons.
/// @type Map
$button-sizes: (
  tiny: (
    padding: rem-calc(9 16 8),
    font-size: rem-calc(12),
  ),
  small: (
    padding: rem-calc(12 24),
    font-size: rem-calc(14),
  ),
  large: (
    padding: rem-calc(16 24),
    font-size: rem-calc(14),
  ),
);
/// Primary button color.
/// @type Map
$button-primary: (
  background: color(dark),
  background-hover: color(organism-background),
  color: color(light),
  color-hover: color(light),
);
/// Secondary button color.
/// @type Map
$button-secondary: (
  background: transparent,
  background-hover: color(dark),
  color: color(dark),
  color-hover: color(light),
  border: 1px solid color(border),
);
/// Alert button color.
/// @type Map
$button-alert: (
  background: color(primary),
  background-hover: color(organism-background),
  color: color(light),
);
$button-palette: (
  primary: $button-primary,
  secondary: $button-secondary,
  alert: $button-alert,
);
// Social buttons
$button-social-list: (
  facebook: (
    icon: facebook-2,
    background: color(light),
    background-hover: color(primary),
    color: color(primary),
    color-hover: color(light),
    border: 1px solid color(border),
    icon-color-hover: color(light),
  ),
  google: (
    icon: google-2,
    background: color(light),
    background-hover: color(primary),
    color: color(primary),
    color-hover: color(light),
    border: 1px solid color(border),
    icon-color-hover: color(light),
  ),
);
@mixin master-component-button-readmore {
  .c-button.m-secondary.m-readmore-light {
    @include lora-helper-button-style(
      $background: $button-readmore-light-background,
      $background-hover: $button-readmore-light-background-hover,
      $border: $button-readmore-light-border,
      $border-hover: $button-readmore-light-border-hover,
      $color: $button-readmore-light-color,
      $color-hover: $button-readmore-light-color-hover
    );
    @include lora-helper-button-icon-base;
    @include lora-helper-button-icon(
      $icon: $button-readmore-light-icon,
      $color: $button-readmore-light-icon-color,
      $color-hover: $button-readmore-light-icon-hover,
      $size: $button-readmore-light-icon-size,
      $margin: $button-readmore-light-icon-margin,
      $left: false
    );
  }
  .c-button.m-secondary.m-readmore-dark {
    @include lora-helper-button-style(
      $background: $button-readmore-dark-background,
      $background-hover: $button-readmore-dark-background-hover,
      $border: $button-readmore-dark-border,
      $border-hover: $button-readmore-dark-border-hover,
      $color: $button-readmore-dark-color,
      $color-hover: $button-readmore-dark-color-hover
    );
    @include lora-helper-button-icon-base;
    @include lora-helper-button-icon(
      $icon: $button-readmore-dark-icon,
      $color: $button-readmore-dark-icon-color,
      $color-hover: $button-readmore-dark-icon-hover,
      $size: $button-readmore-dark-icon-size,
      $margin: $button-readmore-dark-icon-margin,
      $left: false
    );
  }
}
@use "@lora/05-components/button"; //stylelint-disable-line
