// Wrapper
$modal-wrapper-padding: rem-calc(20 20 0);
$modal-wrapper-padding--medium: rem-calc(20 20 0);
$modal-wrapper-padding--large: rem-calc(25 25 0);
// Body
$modal-body-font: #{rem-calc(14)} / 1.5 $font-primary;
// Close icon
$modal-slide-panel-close-font: 400 #{rem-calc(14)} / 1.2 $font-primary;
$modal-close-icon-size: rem-calc(16);
$modal-slide-close-padding: rem-calc(22 15);
$modal-slide-close-icon-size: rem-calc(16);
$modal-slide-panel-close-padding: rem-calc(16);
$modal-close-position: rem-calc(19);
// Title
$modal-title-margin: rem-calc(0 0 25);
$modal-title-font: #{rem-calc(24)} / 1.25 $font-primary;
$modal-title-font--large: normal #{rem-calc(30)} / 1.25 $font-primary;
$modal-title-text-transform: none;
$modal-header-secondary-title-text-align: left;
$modal-wrapper-padding--large: rem-calc(24);
// Subtitle
$modal-subtitle-font: #{rem-calc(20)} / 1.25 $font-primary;
$modal-subtitle-font--large: #{rem-calc(20)} / 1.25 $font-primary;
// Modal with secondary header (separated with border)
/// Title
$modal-header-secondary-title-padding: rem-calc(15 0 15 15);
$modal-header-secondary-title-border-bottom: 1px solid color(grey-2);
$modal-header-secondary-title-text-align: left;
$modal-slide-panel-body-padding: rem-calc(16 16 0);
// Modal with image
$modal-image-padding: rem-calc(0 0 25);
$modal-image-content-padding: rem-calc(25 20 0);
/// Modal slide panel title
$modal-slide-panel-title-font: #{rem-calc(16)} / rem-calc(19.2) $font-primary;
$modal-slide-panel-title-border: solid 1px color(alabaster-400);
/// Modal slide panel close
$modal-slide-panel-close-text-decoration: none;
@use "@lora/05-components/modal";
