// PLP
$simple-navigation-background: color(light);
$simple-navigation-back-link-background: color(light);
$simple-navigation-text-transform: none;
$simple-navigation-item-active-font-weight: normal;
$simple-navigation-subcategories-active-link-font: #{rem-calc(14)} / 1
  $font-primary-medium;
// PDP
$simple-navigation-link-padding: rem-calc(14);
$simple-navigation-anchors-link-color: color(text-secondary);
$simple-navigation-anchors-sticked-zindex: 2;
$simple-navigation-font: #{rem-calc(14)} / 1.5 $font-primary;
@use "@lora/05-components/simple-navigation";
