$tabs-tab-font: #{rem-calc(14)} / 1.5 $font-primary-medium;
$tabs-tab-font--large: #{rem-calc(24)} / 1.3 $font-primary;
$tabs-tab-text-transform--large: none;
$tabs-tertiary-controls-background-color: color(light);
$tabs-tertiary-tab-padding: rem-calc(8 20);
$tabs-tertiary-tab-color: color(text-secondary);
$tabs-tertiary-tab-font: #{rem-calc(14)} / 1.5 $font-primary-medium;
// Tabs secondary
$tabs-secondary-tab-active-font-weight--large: 400;
$tabs-secondary-tab-font-size: rem-calc(14);
$tabs-secondary-tab-font-size--large: rem-calc(24);
$tabs-secondary-tab-active-color: color(primary-active);
$tabs-secondary-tab-padding--large: rem-calc(70 100 22 0);
@use "@lora/05-components/tabs";
