$content-advantage-title-text-transform: uppercase;
$content-advantage-title-font-weight: 500;
$content-advantage-text-margin: 0;
$content-advantage-text-color: color(primary);
$content-advantage-text-font-size: rem-calc(14);
@use "@lora/05-components/content/content-advantage";
